.arrow-button{
    border-radius: 50%;
    font-size: 1.7rem;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: absolute;
    top: calc(50% - 25px);
    border: 1px solid gray;
    opacity: 0.95;

    &:hover{
        border-color: gray;
        background-color: rgb(66, 66, 66);
    }
    &:focus{
        border-color: gray;
    }
}

.right{
    right: -25px;
}

.left{
    left: -25px;
}